---
import Logo from "@components/Logo.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
---

<header class="header-wrapper">
  <div class="header-logo">
    <a href="/">
      <Logo />
    </a>
  </div>
  <div class="header-nav-wrapper">
    <div class="flex items-center">
      <ThemeToggle />
    </div>
  </div>
</header>
